*{
    box-sizing:border-box;
}
body{
    margin:0;
}
p{
    margin:0;
}
.container1{
    background: #EF33B4;
    height: 205px;
    line-height:205px;
    text-align:center;
}
.text-container{
   display:inline-block;
   line-height:1.5;
   vertical-align:middle;
   width: 80%;
   margin:0 auto;
}
.text-container .up-text{
    font-family:"Ubuntu";
    font-weight:700;
    font-size:26px;
    color:#FFFFFF;
}
.text-container .down-text{
    font-family:"Roboto";
    color:#FFFFFF;
    font-size:20px;
}
.container2{
    background: #F8F8F8;
    padding-top: 185px;
    padding-bottom: 150px;
}
.container2 .container2-box{
    width: 80%;
    margin: 0 auto;
}
.container2 .info-box .title1{
    font-family:"Ubuntu";
    color: #4D4D4D;
    font-size: 20px;
    margin-bottom:10px;
    margin-top:20px;
}
.text{
    font-family:"Roboto";
    color: #808080;
}
.container2 .info-box{
    display:inline-block;
    text-align:center;
    width: 300px;
    margin-right: 85px;
    margin-bottom: 50px;
}
.container3 .left-container .main-title{
    font-family:"Barlow";
    color: #EF33B4;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 50px;
    width: 399px;
}
.container3 .left-container .title2{
    font-family:"Ubuntu";
    color: #4D4D4D;
    font-size: 18px;
    border-left:4px solid  #3B72FF;
    padding-left: 14px;
    margin-bottom: 16px;
}
.container3 .info-box2{
    width: 270px;
    display: inline-block;
    margin-bottom: 40px;
    margin-right: 50px;
}
.container2 .info-box:nth-child(3),
.container2 .info-box:nth-child(6){
    margin-right:0;
}
.container3 .left-container{
    width:50%;
    vertical-align: top;
    display: inline-block;
    margin-left:135px;
    padding-top: 80px;
}
.container3 .right-container{
    display: inline-block;
}
.container3 .right-container img{
    height:853px;
}